.mappingRow {
  display: grid;
  grid-template-columns: 0.8fr 3rem 1fr 1rem;
  align-items: center;
  gap: 1rem;
}

.sourceLabel {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.primaryName {
  font-size: 0.875rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.arrowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $ds-gray-500;
}

.dropdownWrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.dropdown {
  flex: 1;
  min-width: 0;
}

.autoBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $ds-green-500;
  flex-shrink: 0;
  margin-left: -0.5rem;
}
