.settingsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

.settingsScrollable {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  font-family: $ds-font-main;
  color: $ds-foreground;
  justify-content: flex-start;
  margin-top: 5rem;
  overflow-y: auto;
  max-height: calc(100vh - 4rem);
}

h1 {
  font-weight: $fw-semibold;
  font-size: 1.8rem;
  margin-bottom: 3rem;
}

.settingsSections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.apiKeyItem {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid $ds-gray-100;
    padding-bottom: 0.5rem;
  }
}

.apiKeyInfo {
  display: flex;
  flex-direction: column;
}

.apiKeyLabel {
  font-weight: $fw-semibold;
  font-size: 0.875rem;
}

.zone {
  font-weight: $fw-regular;
  color: $ds-gray-600;
}

.apiKeyDescription {
  font-size: 0.875rem;
  color: $ds-gray-600;
}

.created {
  font-size: 0.75rem;
}

.modalText {
  font-size: 0.875rem;
  color: $ds-foreground;
  margin-bottom: 1.5rem;
}

.deleteError {
  color: $ds-red-500;
  font-size: 0.875rem;
  margin-bottom: 1rem;
}

.modalButtonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.dropdownContainer {
  padding: 0.5rem 0;
}
