.deploymentModal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: $ds-font-main;
  font-size: 0.875rem;
  gap: 1rem;
  height: 26rem;
}

.noConnectionsContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 6rem;
  color: $ds-gray-600;
}

.modalHeaderInfo {
  margin: 0 1rem;
}

p {
  margin: 0;
  padding: 0;
}

.loadingContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.buttonContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: end;
  margin: 0 1rem;
}

.mappingsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1rem;
  overflow-y: auto;
  padding: 0 1rem;
  flex: 1;
}

.mappingSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionTitle {
  color: $ds-foreground;
  margin: 0.5rem 0;
  padding: 0;
}

.terminalContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #0d1117;
  border-radius: 6px;
  border: 1px solid #30363d;
  overflow: hidden;
  margin: 0 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.terminalHeader {
  display: flex;
  align-items: center;
  background-color: #161b22;
  padding: 10px 12px;
  border-bottom: 1px solid #30363d;
  color: #8b949e;
  font-size: 12px;
  gap: 12px;
}

.terminalTitle {
  flex: 1;
  text-align: center;
  padding-right: 42px;
  font-family: monospace;
  letter-spacing: 0.5px;
}

.terminalDots {
  display: flex;
  gap: 6px;

  span {
    width: 11px;
    height: 11px;
    border-radius: 50%;
  }
  .dotRed {
    background-color: $ds-red-500;
  }
  .dotYellow {
    background-color: $ds-amber-500;
  }
  .dotGreen {
    background-color: $ds-green-500;
  }
}

.terminalBody {
  flex: 1;
  padding: 16px;
  color: #c9d1d9;
  font-size: 13px;
  font-family: $ds-font-code;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
}

.logLine {
  line-height: 1.4;
  word-break: break-word;
  opacity: 0;
  animation: fadeIn 0.2s forwards ease-in-out;
}

.logSuccess {
  color: #3fb950;
  font-weight: bold;
}

.cursor {
  display: inline-block;
  width: 8px;
  height: 15px;
  background-color: #c9d1d9;
  animation: blink 1s step-end infinite;
  margin-top: 4px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.logSuccess {
  color: $ds-green-500;
  font-weight: bold;
}

.logAdded {
  color: $ds-green-500;
}

.logRemoved {
  color: $ds-green-500;
}

.logModified {
  color: $ds-amber-500;
}

.logError {
  color: $ds-red-500;
  font-weight: bold;
}
