.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: transparent;

  // Dark mode overrides
  :global(.dark) & {
    border-color: #444;
    background-color: #1e1e1e;
  }
}

.colHeader {
  font-size: 14px;
  font-weight: 700;
  padding: 0px 12px 4px 0;
  margin: 0;
  background: transparent;
  color: #222;

  :global(.dark) & {
    background: #252526;
    color: #e0e0e0;
  }
}

.controls {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.selectBox {
  flex: 1;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: transparent;

  :global(.dark) & {
    border-color: #555;
    color: #e0e0e0;
  }
}

.textArea {
  flex: 1;
  resize: none;
  border: none;
  padding: 10px;
  font-size: 11px;
  font-family: Monaco, monospace;
  outline: none;
  background: #fff;
  color: #444;

  :global(.dark) & {
    background: #1e1e1e;
    color: #dcdcdc;
  }
}
