.sideBar {
  width: 12rem;
  height: 100vh;
  position: sticky;
  flex-shrink: 0;
  font-family: $ds-font-main;
  color: $ds-foreground;

  background-color: $ds-gray-100;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
