.sideBar {
  width: 12rem;
  height: 100vh;
  position: sticky;
  flex-shrink: 0;
  font-family: $ds-font-main;
  color: $ds-foreground;

  background-color: $ds-gray-100;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

.branding {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 2rem;
  color: $ds-foreground;
}

.logo {
  height: 1.6rem;
  width: 1.6rem;
}

.baseflo {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: $fw-bold;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
