.navButton {
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.6rem;
  border-radius: 4px;
  color: $ds-gray-600;
  transition: all 0.2s ease;
  font-weight: $fw-regular;

  &:hover {
    cursor: pointer;
    background-color: $ds-gray-200;
    color: $ds-foreground;
  }

  @media (max-width: $bp-mobile) {
    padding: 0.4rem 0.5rem;
    font-size: 0.9rem;
  }
}
