.scenariosContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem 1rem 0;
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  color: #333;
  background: $ds-background;

  /* Handle dark mode natively */
  &.dark {
    color: #e0e0e0;
    background: #121212;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 1.5rem auto 0;
  flex: 1;
  overflow: hidden;
  background-color: transparent;

  border-radius: 4px;
}

.deploymentContainer {
  display: flex;
  gap: 2rem;
  overflow: auto;
  height: 100%;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  width: 14rem;
  gap: 2rem;
}

.comparisonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;
  flex: 1;
  min-width: 0;
}

.blueprints {
  display: flex;
  gap: 1rem;
}
