.customDropdownContainer {
  position: relative;
  flex: 1;
  border: 1px $ds-gray-300 solid;
  padding: 0.25rem;
  border-radius: 4px;
  transition: border 0.2s ease;
  cursor: pointer;
  background-color: $ds-background;
  min-width: 0;

  &:hover {
    border: 1px $ds-gray-500 solid;
  }
}

.selectBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectBoxIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $ds-gray-600;
}

.selectedNameContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 0;
  padding-left: 0.25rem;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.defaultOption,
.selectedName,
.optionLabel {
  font-size: 0.875rem;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.defaultOption {
  color: $ds-gray-600;
}

.selectedName {
  color: $ds-foreground;
}
.dropdownMenu {
  background: $ds-background;
  border: 1px solid $ds-gray-300;
  border-radius: 4px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: $ds-font-main;

  box-sizing: border-box;

  :global(.dark) & {
    background: #252526;
    border-color: #555;
  }
}

.optionItem {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 8px 12px;
  cursor: pointer;
  font-size: 13px;
  color: $ds-gray-600;
  transition: all 0.2s ease;

  &:hover {
    background: $ds-gray-100;
    color: $ds-foreground;
  }

  :global(.dark) & {
    color: #ccc;
    &:hover {
      background: #3a4a5a;
    }
  }
}

.optionLabel {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectedItem {
  background: $ds-gray-100;
  font-weight: 600;
  color: $ds-foreground;

  :global(.dark) & {
    background: #3a4a5a;
  }
}

.emptyText {
  padding: 8px 12px;
  font-size: 12px;
  color: #999;
  font-style: italic;
}
