.actionButton {
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  border: none;
  transition: all 0.2s ease;
  font-weight: $fw-semibold;
  color: $ds-foreground;

  &.primary {
    background-color: $ds-foreground;
    color: $ds-background;
  }

  &.primary:hover {
    background-color: $ds-gray-800;
  }

  &.secondary {
    background-color: $ds-gray-100;
    border: 1px $ds-gray-300 solid;
  }

  &.secondary:hover {
    background-color: $ds-gray-200;
    color: $ds-foreground;
    border: 1px $ds-gray-400 solid;
  }

  &.disabled {
    background-color: $ds-gray-600;
    color: $ds-gray-300;
    cursor: default;
  }

  &.disabled:hover {
    background-color: $ds-gray-600;
    color: $ds-gray-300;
    cursor: default;
  }

  &.danger {
    background-color: $ds-red-500;
    color: $ds-background;
  }

  &.danger:hover {
    background-color: $ds-red-400;
    cursor: pointer;
  }

  &.lg {
    padding: 12px 12px;
  }
}
